<h2>REGISTRO DE ACUDIENTE</h2>
<div class="holi">
    <div class="container" id="advanced-search-form">
        <form>
            <div class="form-group">
                <label for="first-name">Nombres</label>
                <input type="text" class="form-control" placeholder="Nombres" id="first-name">
            </div>
            <div class="form-group">
                <label for="last-name">Apellidos</label>
                <input type="text" class="form-control" placeholder="Apellidos" id="last-name">
            </div>
            <div class="form-group">
                <label for="country">Identificación</label>
                <input type="text" class="form-control" placeholder="Identificación" id="country">
            </div>
            <div class="form-group">
                <label for="number">Teléfono</label>
                <input type="text" class="form-control" placeholder="Número Celular" id="number">
            </div>
            <div class="form-group">
                <label for="age">Edad</label>
                <input type="text" class="form-control" placeholder="Edad" id="age">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Correo Electronico" id="email">
            </div>
            <div class="form-group">
                <label for="category">Direccón</label>
                <input type="text" class="form-control" placeholder="Dirección" id="category">
            </div>
            <div class="form-group">
                <label for="education">Profesión</label>
                <input type="text" class="form-control" placeholder="Profesión" id="education">
            </div>
            <div class="form-group">
                <label for="education">Parentesco</label>
                <input type="text" class="form-control" placeholder="Qué es del estudiante?" id="education">
            </div>
            <div class="form-group">
                <!-- <label>Genero</label> -->
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Madre Cabeza de familia</label>
                    <!-- <label class="radio-inline">
                        <input type="radio" name="optradio"></label> -->
                </div>
            </div>
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span class="glyphicon glyphicon-search"></span> Enviar Registro</button>
        </form>
    </div>
</div>
<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <a href="http://justinfarrow.com">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                           INICIO
                        </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            ACERCA DE MATRICÚLATE
                        </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                            PUBLICACIONES 
                        </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                            INSTITUCIONES
                        </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                            RESGISTRO DE USUARIO
                        </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-font fa-2x"></i>
                <span class="nav-text">
                           REGISTRO DE INSTITUCIONES
                        </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                            ADMNISTRADOR
                        </span>
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                        
                        </span>
            </a>
        </li>
    </ul>
</nav>